@charset "utf-8";
.order {
    min-height: 480px;;
}

#nonitem {
    border: 0;
}

#bsk_null-notice{
		display:block;
	text-align:center;
	margin:auto;
	line-height:300px;
	font-size: 20px;
	color: #464646;
	font-weight:bold;
}

/** 일자 단위 박스 */
.item_box {
    margin-bottom: 5px;
}

#item-header {
    padding: 8px 0 10px 3px;
    font-size: 14px;
    border-bottom: 1px solid #000;
}

.item_box h4 {
    display: block;
    padding: 8px 0 8px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #000;
}


/** 제품 상세 */
.item {
    padding: 3px;
    height:130px;
}

.item a img {
    padding: 3px;
    display: block;
    width: 124px;
    height: 124px;
    float: left;
}

.item_detail {
    display: inline-block;
    width: 38%;
    height: 130px;
    padding: 3px;
}

#ord{
	padding:3px;
	font-size: 13px;
}


.item_detail .over {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    font-size:14px;
    padding:2px;
}
button{
	margin:auto;
}
.button{
	height: 30px;
	padding: 5px;
}


.button button {
	display:inline-block;
    width: 32.3%;
    height: 30px;
    color: #f5f2ed;
    border: 0;
    font-size: 14px;
    border-radius: 3px;
}

.button button a {
    color: #f5f2ed;
  
}

.res{
	background-color: #db7f41;
}

.ch, .ref{
	    background-color: #464646;
}
