@charset "utf-8";

#header {

    padding-bottom: 15px;
}
#withdraw_info {
    max-width: 580px;
    margin: 0 auto;

    padding: 10px;
    height: auto;
}

.form-control{
    display: block;
    margin: auto;
    border: none;
    height: 40px;
    width: 100%;
    background-color: #f5f2ed;
    font-size: 15px;
    text-indent: 10px;
    font-weight: bold;
    color: #6B4D3C;
}

.new_box {
    border: 1px solid #6B4D3C;
    height: 40px;
}

.new_box:nth-child(1){
    border-bottom: none;
}

#withdraw_button {
    width: 100%;
    border: none;
    background-color: #464646;
    font-size: 18px;
    color: #f5f2ed;
    height: 40px;
    font-weight: bold;
}

